*{
    margin: 0;
    padding: 0;
}
.s1 h1{
    color: white;
}
.s1 p{
    color: rgb(184, 182, 182);
}
.s1 .button{
    padding: 10px 20px;
    border: none;
    background-color: rgb(134, 134, 134);
    border-radius: 10px;

}
.s1 .button a{
    font-size: 20px;
    color:white;
    list-style: none;
    text-decoration: none;

}
.s2 a{
    text-decoration: none;
    color: rgb(184, 182, 182);
    margin-right: 10px;
}
.s3{
    display: flex;
    /* justify-content: space-around; */
    gap: 7px;
}
.s3 button{
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:7px;
    background-color: rgb(87, 85, 85);
    
}
.s3 a{
    text-decoration: none;
    font-size: 25px;
    color: rgb(184, 182, 182);

   
}

.s5 a{
    text-decoration: none;
   color: rgb(184, 182, 182);
}
.s5 {
    font-size: 20px;
    color: rgb(184, 182, 182);
    display: flex;
    justify-content: center;
    align-items: center;
}
