 *{
    margin: 0;
    padding: 0;
 }

 .bl{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.bl p{
    color:rgb(134, 134, 134);
}
.bl h5{
    color:rgb(134, 134, 134);
}
/* .progres h1 {
  text-align: center;
  font-weight: bolder;
  color: black;
 
}
.progres p{
    text-align: center;
    background-color: whitesmoke;
    font-weight: bolder;
    color:rgb(134, 134, 134);
    font-size: 18px;
} */
.circle{
  position: relative;
  height: 130px;
  width: 130px;
  background-color: silver;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: conic-gradient(rgb(134, 134, 134) 0% var(--conic-percentage), white var(--conic-percentage) 100%);
}
.circle::before{
  content: "";
  height: 110px;
  width: 110px;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  z-index: 1;
}
.circlecontain{
  /* border: 2px solid red; */
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.circle p{
  color: black;
  z-index: 1;
  font-size: 20px;
  font-weight: bold;

  margin: auto;
}
.circlecontain p{
  color: black;
}

.sk{
    width: 100%;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 8px rgb(129, 126, 126);

}
.sk .sk1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sk .sk1 h2{
    font-size: 25px;
    color: rgb(163, 163, 163);
}

.sk .sk1 p{
    /* font-size: 18px; */
    color: rgb(136, 167, 150);
    background-color: transparent;
    
}
